body{
	background-image: url('../../assets/img/color-bg.png');
	background-repeat: no-repeat;
    background-attachment: fixed;;
}
.rounded{
	border-radius: 10px;
}
h3, h4, h5, h6{
	margin: 0;
}
.columns, .column{
	padding: 0px;
}
.primary-color{
	background-color: #1779BA;
}
.secondary-color{
	background-color: #767676;
	color: #FFF;
}
.success-color{
	background-color: #3ADB76;
}
.warning-color{
	background-color: #FFAE00;
}
.alert-color{
	background-color: #CC4B37;
}
.cyan-color{
	background: #6BEFEB;
	color: #111;
}
.blue2-color{
	background: #134E82;
	color: #FFF;
}
.blue2-color:hover{
	background: #3D82BF;
}
.skin1, a.skin1{
	background-image: url('../../assets/img/skin1.jpg');
}
.skin2, a.skin2{
	background-image: url('../../assets/img/skin2.jpg');
}
