nav#navegacion{
	font-size: 2rem;
}
footer{
	text-align: center;
}
nav#navegacion, footer{
	background-color: #000;
	color:#FFF;
}
section#body-content{

}
section#body-content section#menu{
	border:1px solid #999;
}
section#body-content section#content{
}