table.sticked{
	border-collapse: collapse;
	display: block;
}
table.sticked td, table.sticked th{
	display: table-cell;
	border: 1px solid #999;
}
table.sticked thead{
	position: sticky;
	top: 0px;
	z-index: 5;
}
thead, tbody, tfoot {
  display: table;
  width: 100%;
}